/* By M Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Layout */
body {
  font-family: $font-source-sans-pro;
  font-size: 18px;
  line-height: 1.5;
  color: #454545;
  letter-spacing: .03em;
  &.fixed{
    position: fixed;
    overflow: hidden;
  }
  @include screen(medium){
    position: static !important;
    overflow: visible !important;
  }
}

a,
button,
.button.alt,
input,
textarea,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"]{
  text-decoration: none;
  &:focus {
    outline: none !important;
  }
}

.site-content{
  min-height: calc(100vh - 71px - 77px);
  @include screen(medium){
    min-height: calc(100vh - 83px - 77px);
  }
  @include screen(large){
    min-height: calc(100vh - 96px - 77px);
  }
}
.site-main{
  margin-bottom: 0;
}
.entry-content{
  max-width: 1024px;
  margin: 0 auto;
}
img{
  border-radius: 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

.hentry .entry-content a:not(.button){
  text-decoration: none;
  &:hover{
    color: #2b4d9b;
  }
}

/* Components */
@import "layout/header";
@import "layout/footer";

/* Demo styles */
@import "pages/home";
@import "pages/quality";
@import "pages/performance";
@import "pages/product";
@import "pages/project";
@import "pages/contact";
@import "pages/about";
