/* By M Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Layout */
body {
  font-family: $font-source-sans-pro;
  font-size: 17px;
  line-height: 1.5;
  color: #111;
  letter-spacing: .03em;
  &.fixed{
    position: fixed;
    overflow: hidden;
  }
  @include screen(small, false){
    font-size: 16px;
  }
  @include screen(medium){
    position: static !important;
    overflow: visible !important;
  }
}

a,
button,
.button.alt,
input,
textarea,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"]{
  text-decoration: none;
  &:focus {
    outline: none !important;
  }
}

.site-content,
.content-area{
  min-height: calc(100vh - 71px - 77px);
  @include screen(medium){
    min-height: calc(100vh - 83px - 77px);
  }
  @include screen(large){
    min-height: calc(100vh - 96px - 77px);
  }
}
.site-main{
  margin-bottom: 0;
}
.entry-content{
  max-width: 1024px;
  margin: 0 auto;
}
img{
  border-radius: 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

.hentry .entry-content a:not(.button){
  text-decoration: none;
  &:hover{
    color: #2b4d9b;
  }
}
h2{
  @include screen(small, false){
    font-size: 26px;
    line-height: 1.2;
  }
}
h3{
  @include screen(small, false){
    font-size: 23px;
    line-height: 1.2;
  }
}
h4{
  @include screen(small, false){
    font-size: 20px;
    line-height: 1.2;
  }
}
.title{
  border-bottom: 2px solid #bbb;
  padding-bottom: 10px;
  margin: 0;
  &-table{
    font-size: 18px;
    @include screen(medium){
      font-size: 20px;
    }
  }
  &-grey{
    background-color: #f1f1f1;
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    margin-bottom: 20px;
    @include screen(medium){
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  &-ceo{
    border-bottom: 1px solid #D01126;
    margin-bottom: 20px;
    @include screen(medium){
      margin-bottom: 30px;
    }
  }
  &-history{
    border-bottom: 1px solid #D01126;
    margin-bottom: 10px;
  }
  &.no-border{
    border-bottom: none;
  }
  a{
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 15px;
    display: block;
    background-color: #2b4d9b;
    border: 1px solid #2b4d9b;
    color: white;
    margin-top: 5px;
    transition: all 0.2s;
    &:hover{
      background-color: #fff;
    }
  }
}
/* Components */
@import "layout/header";
@import "layout/footer";

/* Block */
@import "blocks/block_hero";
@import "blocks/block_history";

/* Page styles */
@import "pages/home";
@import "pages/quality";
@import "pages/performance";
@import "pages/product";
@import "pages/project";
@import "pages/contact";
@import "pages/about";
@import "pages/product_list";
@import "pages/product_details";
@import "pages/news_list";
@import "pages/news_details";
