.entry {
  .entry-header {
    margin: 0 auto;
    text-align: center;
    padding: 25px 30px;
  }
  .entry-title {
    font-family: $font-oswald;
    font-weight: 300;
    font-size: 32px;
    color: #141415;
    &:before {
      display: none;
    }
    @include screen(medium) {
      font-size: 80px;
    }
  }
  .entry-content,
  .entry-summary{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 18px;
    > *{
      margin: 13px 0;
      max-width: none;
    }
    a{
      color: inherit;
    }

    .cover--for-founder{
      min-height: 200px;
      @include screen(small){
        min-height: 300px;
      }
      @include screen(medium){
        min-height: 210px;
      }
    }
    .cover--innovation{
      min-height: 230px;
      @include screen(small){
        min-height: 340px;
      }
      @include screen(medium){
        min-height: 300px;
      }
    }
  }
  h3{
    color: #081359;
    font-family: $font-oswald;
    font-size: 24px;
    font-weight: 600;
  }
  .sub-title{
    font-weight: 400;
    @include screen(medium){
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
}

.wp-block-column{
  flex-basis: 100%;
  @include screen(small){
    flex-basis: calc(50% - 16px);
  }
}
