.demo {
  font-size: 2em;
  margin: 20px;
  color: $caption-color;
  text-align: center;
  background: $foreground-color url('../images/global/logo.png') 20px 20px no-repeat;
  background-size: 50px;
  padding: 30px;
  min-height: 500px;
}
