.hentry .entry-content .wp-block-cover.hero-contact,
.editor-styles-wrapper .wp-block-cover.hero-contact{
  background-size: auto 90% !important;
  background-position: center 50% !important;
  background-repeat: no-repeat;
}
