.hentry .entry-content .wp-block-cover.hero-contact,
.editor-styles-wrapper .wp-block-cover.hero-contact{
  background-size: auto 90% !important;
  background-position: center 50% !important;
  background-repeat: no-repeat;
}
.wpcf7-form{
  margin: 0 -10px;
  input,
  textarea{
    width: 100%;
    background: none;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 10px;
    font-size: 0.9em;
  }
  .wpcf7-not-valid-tip{
    font-size: 0.875em;
  }
}
.form-name,
.form-email,
.form-subject{
  padding: 10px;
  @include screen(small){
    float: left;
    width: 33.33%;
  }
}
.form-message{
  clear: both;
  padding: 10px;
}
.form-submit{
  padding: 10px;
  input{
    width: auto;
  }
}
