.home.page-template-template-fullwidth .hentry{
  max-width: 996px;
  margin: 0 auto;
}

.storefront-align-wide.page-template-template-fullwidth-php .hentry .entry-content .alignfull,
.storefront-align-wide.storefront-full-width-content .hentry .entry-content .alignfull{
  padding: 0;
  margin: 0 calc(50% - 50vw);
  width: auto;
  img{
    border-radius: 0;
  }
}

.hentry .entry-content .wp-block-gallery .blocks-gallery-image,
.hentry .entry-content .wp-block-gallery .blocks-gallery-item,
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-image,
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-item{
  width: 100%;
  margin: 0;
  figcaption{
    background: rgba(0,0,0,0.7);
    padding: 5px 10px;
    font-weight: 600;
    text-align: left;
    font-size: 12px;
    a{
      color: white;
    }
    @include screen(medium){
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  &:nth-child(odd) figcaption{
    text-align: right;
  }
}
.home-carousel {
  .slick-next,
  .slick-prev {
    z-index: 1;
    @include screen(medium){
      width: 50px;
      height: 50px;
      &:before{
        font-size: 50px;
        opacity: 0.5;
        transition: all 0.2s;
      }
    }
  }
  .slick-next {
    right: 20px;
  }
  .slick-prev {
    left: 20px;
  }
}
.count{
  display: none;
}

.page-template-template-fullwidth-php .content-area,
.page-template-template-homepage-php .content-area{
  margin-bottom: 0;
}
.hentry{
  margin-bottom: 0;
}

.hentry .entry-content .wp-block-latest-posts.has-dates li,
.editor-styles-wrapper .wp-block-latest-posts.has-dates li{
  border-bottom: 1px dotted #bbb;
  margin: 0;
  @include clearfix;
  time{
    margin: 10px 0;
    color: black;
    font-weight: 600;
    float: left;
    width: 90px;
  }
  a{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    float: right;
    width: calc(100% - 96px);
  }
}
.hentry .entry-content .wp-block-gallery.gallery-project,
.editor-styles-wrapper .wp-block-gallery.gallery-project{
  .blocks-gallery-image,
  .blocks-gallery-item {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    margin-right: 0;
    width: calc(50% - 1px);
    @include screen(small){
      width: calc(33.33% - 1px);
    }
    @include screen(medium){
      width: calc(25% - 1px);
    }
    figcaption {
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.3;
    }
    figure {
      display: block;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        img {
          transform: scale(1.15);
        }
      }
      img {
        transition: all 0.2s;
        transform-origin: center center;
      }
    }
  }
}
.gallery-project{
  .slick-next,
  .slick-prev{
    background-size: auto 36px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 50px;
    height: 50px;
    z-index: 1;
    @include screen(large) {
      &:before {
        display: none;
      }
    }
  }
  .slick-next{
    right: 0px;
    @include screen(large) {
      background-image: url(../images/global/navi_next.png);
      right: -50px;
      &:hover, &:focus{
        background-image: url(../images/global/navi_next.png);
      }
    }
  }
  .slick-prev{
    left: 0px;
    @include screen(large) {
      background-image: url(../images/global/navi_prev.png);
      left: -50px;
      &:hover, &:focus{
        background-image: url(../images/global/navi_prev.png);
      }
    }
  }
}

.hentry .entry-content .wp-block-gallery.gallery-menu,
.editor-styles-wrapper .wp-block-gallery.gallery-menu{
  display: block;
  @include clearfix;
  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: 0 0 10px;
    border: 1px solid #bbb;
    @include screen(small) {
      float: left;
      width: 33.33%;
      margin: 0;
      &:nth-child(1),
      &:nth-child(2){
        border-right-color: transparent;
      }
    }
    figure {
      display: block;
      overflow: hidden;
      cursor: pointer;
      &:hover{
        img{
          transform: scale(1.15);
          transform-origin: center center;
        }
        figcaption{
          background-color: #f0f0f0;
        }
      }
      img{
        transition: all 0.2s;
      }
    }
    figcaption {
      position: relative;
      background: #fff;
      text-align: center;
      font-size: 18px;
      &:before{
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        background: url(../images/global/navi_next.png) no-repeat center center;
        background-size: 10px auto;
        position: absolute;
        left: 2px;
        bottom: 2px;
      }
      a {
        color: #333;
      }
    }
  }
}
.hentry .entry-content .wp-block-gallery,
.editor-styles-wrapper .wp-block-gallery{
  margin: 0;
}
