.home.page-template-template-fullwidth .hentry{
  max-width: 996px;
  margin: 0 auto;
}
ul.products {
  padding: 20px 0 0;
  li.product {
    width: 50%;
    float: left;
    margin: 0;
    padding: 20px;
    &.product-category {
      img {
        margin: 0;
        border-radius: 0;
      }
      .woocommerce-loop-category__title{
        font-size: 16px;
        margin-top: 8px;
      }
    }
  }
}

.storefront-align-wide.page-template-template-fullwidth-php .hentry .entry-content .alignfull,
.storefront-align-wide.storefront-full-width-content .hentry .entry-content .alignfull{
  padding: 0;
  margin: 0 calc(50% - 50vw);
  width: auto;
  img{
    border-radius: 0;
  }
}

.hentry .entry-content .wp-block-gallery .blocks-gallery-image,
.hentry .entry-content .wp-block-gallery .blocks-gallery-item,
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-image,
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-item{
  width: 100%;
  margin: 0;
  figcaption{
    background-color: rgba(0,0,0,0.7);
    padding: 5px 10px;
    font-weight: 600;
    text-align: left;
    font-size: 12px;
    @include screen(medium){
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  &:nth-child(odd) figcaption{
    text-align: right;
  }
}
.home-carousel {
  .slick-next,
  .slick-prev {
    z-index: 1;
    @include screen(medium){
      width: 50px;
      height: 50px;
      &:before{
        font-size: 50px;
        opacity: 0.5;
        transition: all 0.2s;
      }
    }
  }
  .slick-next {
    right: 20px;
  }
  .slick-prev {
    left: 20px;
  }
}
.count{
  display: none;
}

.page-template-template-fullwidth-php .content-area,
.page-template-template-homepage-php .content-area{
  margin-bottom: 0;
}
.hentry{
  margin-bottom: 0;
}
.title{
  border-bottom: 2px solid #bbb;
  padding-bottom: 10px;
  margin: 0;
  a{
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 15px;
    display: block;
    background-color: #2b4d9b;
    border: 1px solid #2b4d9b;
    color: white;
    margin-top: 5px;
    &:hover{
      background-color: #fff;
    }
  }
}
.hentry .entry-content .wp-block-latest-posts.has-dates li,
.editor-styles-wrapper .wp-block-latest-posts.has-dates li{
  border-bottom: 1px dotted #bbb;
  margin: 0;
  @include clearfix;
  time{
    margin: 10px 0;
    color: black;
    font-weight: 600;
    float: left;
    width: 90px;
  }
  a{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    float: right;
    width: calc(100% - 96px);
  }
}
