.hentry .entry-content .wp-block-cover.hero-child-page,
.editor-styles-wrapper .wp-block-cover.hero-child-page{
  min-height: 200px !important;
  @include screen(small){
    min-height: 340px !important;
  }
  .wp-block-cover__inner-container{
    background: none;
    max-width: none;
    position: static;
    width: 100%;
    margin-top: 0 !important;
    h2{
      max-width: 1250px;
      text-shadow: 0 0 2px white;
      @include screen(small, false){
        font-size: 30px;
      }
    }
  }
}


.hentry .entry-content .wp-block-gallery.gallery-performance,
.editor-styles-wrapper .wp-block-gallery.gallery-performance{
  background-color: #f1f1f1;
  padding: 8px;
  @include screen(medium){
    padding: 12px;
  }
  .blocks-gallery-image,
  .blocks-gallery-item {
    margin-right: 0;
    padding: 8px;
    @include screen(small){
      width: 50%;
    }
    @include screen(medium){
      padding: 12px;
    }
  }
}
.hentry .entry-content .wp-block-table.table-performance,
.editor-styles-wrapper .wp-block-table.table-performance{
  font-size: 16px;
  @include screen(small, false){
    font-size: 14px;
  }
  @include screen(medium, false){
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  td {
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 15px;
    white-space: nowrap;
  }
  tr {
    &:first-child{
      td:nth-child(n + 2){
        background-color: #f1f1f1;
        border-top: 1px solid #ccc;
        line-height: 1.2;
        font-weight: 600;
      }
    }
    &:nth-child(n + 2) {
      td:first-child {
        text-align: left;
        background-color: #f1f1f1;
        border-left: 1px solid #ccc;
        white-space: normal;
        min-width: 220px;
        line-height: 1.2;
        font-weight: 600;
      }
    }
  }
}
