.page-template-template-fullwidth-php{
  .storefront-breadcrumb{
    display: none;
  }
  h1{
    display: none;
  }
}
.hentry .entry-content .wp-block-cover .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container{
  width: auto;
  max-width: 500px;
  padding: 20px;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  @include screen(small, false){
    margin-top: 230px;
    background-color: #4C4C4C;
    position: static;
  }
  h4{
    color: white;
    font-size: 20px;
  }
}

.storefront-align-wide.page-template-template-fullwidth-php .hentry .entry-content .wp-block-cover.alignfull,
.storefront-align-wide.page-template-template-fullwidth-php .hentry .entry-content .wp-block-cover.alignwide,
.storefront-align-wide.storefront-full-width-content .hentry .entry-content .wp-block-cover.alignfull,
.storefront-align-wide.storefront-full-width-content .hentry .entry-content .wp-block-cover.alignwide,
.storefront-align-wide.page-template-template-fullwidth-php .editor-styles-wrapper .wp-block-cover.alignfull,
.storefront-align-wide.page-template-template-fullwidth-php .editor-styles-wrapper .wp-block-cover.alignwide,
.storefront-align-wide.storefront-full-width-content .editor-styles-wrapper .wp-block-cover.alignfull,
.storefront-align-wide.storefront-full-width-content .editor-styles-wrapper .wp-block-cover.alignwide{
  min-height: 500px;
  background-color: #F1F1F1;
  @include screen(small, false){
    min-height: 0;
    background-size: auto 230px;
    background-position: center top;
    background-repeat: no-repeat;
  }
  &.cover-intro-right{
    .wp-block-cover__inner-container{
      right: 0;
    }
  }
  &.cover-intro-left{
    .wp-block-cover__inner-container{
      left: 0;
    }
  }
  &.cover-size-contain{
    background-size: auto 80%;
    background-repeat: no-repeat;
    @include screen(small, false){
      background-size: auto 32%;
      background-position: center 30px;
    }
  }
  &.cover-none{
    background-image: none !important;
    min-height: 0;
    padding: 20px;
    @include screen(small){
      padding: 50px;
    }
    .wp-block-cover__inner-container {
      position: static;
      margin: 0;
      background-color: #fff;
      color: #333;
      max-width: 1250px;
      @include screen(small){
        padding: 50px;
      }
      @include screen(large){
        padding: 70px;
      }
      > *{
        color: #333;
        @include screen(medium) {
          line-height: 2;
        }
      }
    }
  }
}

.hentry .entry-content .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots){
  border: 0.02rem solid #333;
  max-width: 200px;
}
